body{
    background-image: url("backgroundImage.jpeg");
    background-size:cover ;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #2e2e2e;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    
}
body::before{
    content:"";
    position: fixed;
    inset:0;
    background: rgba(255,255,255,.2);
    backdrop-filter: blur(2px);
    z-index:-1;
}
header{

    position: relative;
}
#country{
    padding: 8px 14px;
    margin: 10px;
    border-radius: 20px ;
    background-color: #b67b1c;
    color: #FEF9E7;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: .3s;
}
#country:hover{
    background:#A1887F;
    color:white;
}
.country_List{
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 1000;
    display: none;
    max-height: 260px;
    width: 40px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: transparent;
    padding: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.country-item{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    border-radius: 8px;
    background: #f5f5f5;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .3s;
    text-align: center;
    background-color: transparent;
}
.country-item img{
    border-radius: 4px;
}
.country-item:hover{
    background:#fff;
    color:white;
}

h1{
    text-align: center;
    font-size: 3em;
    color: #F9A825;
    text-shadow: 2px 2px 4px rgba(0,0,0,1) 
}
.searchBar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap:10px;
    flex-wrap: wrap;
}
#food{
    width: 80%;
    max-width: 600px;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #A1887F;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #2D1B14; 
    background-color: #FEF9E7; 
    padding-left: 10px;
    font-weight: bold;
}
#food::placeholder{
    color: #A1887F;
}
#search{
    width: 80px;
    height: 44px;
    border-radius: 10px;
    outline: 0;
    border: none;
    margin-left: 0px;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color:  #4B5D16;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
#search:hover{
    opacity: 0.8;
    background-color: #6b7a3f;
}
#recipeList{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding:10px ;
    overflow-y: auto;
}
.recipe{
    background-color: rgba(215, 204, 200, 0.84);
    border: 1px solid #A1887F;
    border-radius:30px;
    width: 300px;
    padding: 20px;
    color: #3E2723;
}
.recipe img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}
.recipe h2{
    font-size: 1.5em;
    margin: 10px 0;
    color: #5D4037;
}
.recipe h3{
    font-size: 1em;
    margin: 5px 0;
    color: #5D4037;
}
.recipe p{
    font-size: 0.95em;
    line-height: 1.5;
    color: #3E2723;
    margin-bottom: 15px;
}
.recipe iframe{
    width: 100%;
    margin-bottom: 1px;
    height: 200px;
    border-radius: 10px;
    border: none;
}
.instruction{
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.9s ease;
}
.expanded{
    max-height: 1000px;
}
.recipe p strong{
    font-size: 1.1em;
    margin: 5px 0;
    color: #5D4037;
    font-weight: bold;
}
button.LearnMorebtn{
    background-color: #FF7043;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
button.LearnMorebtn:hover {
    background-color: #D84315; 
}
.img{
    border-radius: 10px;
}
#suggestionLIst {
    display: flex; 
    position: absolute;         
    top: 50px;             
    left: 120px;             
    width: 90%;             
    height: 40px;          
    background-color: rgba(255, 255, 255, 0); 
    justify-content: flex-start; 
    align-items: center;     
    gap: 10px;            
    padding: 5px 10px;
    border-radius: 10px;
    overflow-x: auto;        
    z-index: 1000;           
}

.buttonsugg {         
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid #A1887F;
    background-color: #FFF8E1;
    cursor: pointer;
    transition: background 0    .2s;
    margin-right: 3px;
}

.buttonsugg:hover {
    background-color: #704132;
    color: white;
}