body{
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?auto=format&fit=crop&w=1350&q=80");
    background-size:cover ;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}
#country{
    color: black;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border-radius: 20px ;
    border: 1px black;
    cursor: pointer;
}
.country_List{
    display: none;
    max-height: 200px;
    width: 60px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
}
.country-item{
    padding: 4px 20px;
    border: 1px solid black;
    margin: 2px;
    font-weight: bold;
    display: block;
}
h1{
    text-align: center;
    font-size: 3em;
     color: #332722; 
}
.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    flex-wrap: wrap;
}
#food{
    width: 80%;
    max-width: 600px;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #A1887F;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #5D4037; 
    background-color: #FFF8E1; 
    padding-left: 10px;
}
#food::placeholder{
    color: #A1887F;
}
#search{
    width: 80px;
    height: 44px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #796a65;
    margin-left: 0px;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color:  #413834;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
#search:hover{
    background-color: #5D4037;
}
#recipeList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding:10px ;
}
.recipe{
    background-color: rgba(215, 204, 200, 0.84);
    border: 1px solid #A1887F;
    border-radius:30px;
    width: 300px;
    padding: 20px;
    color: #3E2723;
}
.recipe img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}
.recipe h2{
    font-size: 1.5em;
    margin: 10px 0;
    color: #5D4037;
}
.recipe h3{
    font-size: 1em;
    margin: 5px 0;
    color: #5D4037;
}
.recipe p{
    font-size: 0.95em;
    line-height: 1.5;
    color: #3E2723;
    margin-bottom: 15px;
}
.recipe iframe{
    width: 100%;
    margin-bottom: 1px;
    height: 200px;
    border-radius: 10px;
    border: none;
}
.instruction{
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.9s ease;
}
.expanded{
    max-height: 1000px;
}
.recipe p strong{
    font-size: 1.1em;
    margin: 5px 0;
    color: #5D4037;
    font-weight: bold;
}
button.LearnMorebtn{
    background-color: #FF7043;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
button.LearnMorebtn:hover {
    background-color: #D84315; 
}
.img{
    border-radius: 10px;
}